<div class="footer">
    <div class="language">
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn">Language</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#">English</a>
                <a href="#">Arabic</a>
                <a href="#">Japanese</a>
            </div>
        </div>
    </div>
    <div class="social-links">
        <span>
            <img class='searchicon space' src="/assets/images/ffb.png" alt="ICON">
            
        </span>
        <span>
            <img class='searchicon space' src="/assets/images/ffb.png" alt="ICON">
        </span>
        <span>
            <img class='searchicon space' src="/assets/images/ffb.png" alt="ICON">
        </span>
    </div>
    <div class="main_content_box copyrightblock">
        <p> . . . </p>
        <p class="foot1">All images & logos are copyright to their respective owners.</p>
        <p class="foot2">&copy; Copyright 2010-2017 Webkul software Pvt Ltd, All rights reserved.</p>
    </div>
</div>