<div class="side-bar-container">
    <nav class="nav" role="navigation">
        <ul class="nav__list" id ="nav__list">
            <li class="nav_li">
                <input id="group-1" type="checkbox" hidden />
                <label for="group-1" class="root-menu" id='a'>
                    Demo Pages
                    <i class="fas fa-angle-down icon-padding"></i>
                </label>
                <ul class="group-list">
                    
                    
                    <li class='li-vertical nav_li'>
                        <a href="/uvdemo/page1.html" id="a1">Page1</a>
                    </li>
                    <li class='li-vertical nav_li'>
                        <a href="/uvdemo/page2.html" id="a2">Page2</a>
                    </li>
                    
                </ul>
            </li>
            <li class="nav_li">
                <input id="group-2" type="checkbox" hidden />
                <label for="group-2" class="root-menu" id="b">
                    First level
                    <i class="fas fa-angle-down icon-padding"></i>
                </label>
                <ul class="group-list">
                    <li class='li-vertical nav_li'>
                        <li class="nav_li">
                            <a href="/uvdemo/page2.html" id="b1">1st level item</a>
                        </li>
                        <li class="nav_li">
                            <a href="/uvdemo/page2.html" id="b2">1st level item</a>
                        </li>
                        <input id="sub-group-2" type="checkbox" hidden />
                        <label for="sub-group-2" id="b3">
                            Second level
                            <i class="fas fa-angle-down icon-padding"></i>
                        </label>
                        <ul class="sub-group-list">
                            <li class='li-vertical nav_li'>
                                <a href="/uvdemo/page2.html" id="b3-1">2nd level nav item</a>
                            </li>
                            <li class="nav_li">
                                <a href="/uvdemo/page2.html" id="b3-2">2nd level nav item</a>
                            </li>
                            <li class="nav_li">
                                <input id="sub-sub-group-2" type="checkbox" hidden />
                                <label for="sub-sub-group-2" id="b3-3">
                                    Third level
                                    <i class="fas fa-angle-down icon-padding"></i>
                                </label>
                                <ul class="sub-sub-group-list">
                                    <li class='li-vertical nav_li'>
                                        <a href="/uvdemo/page2.html" id="b3-3-1">3rd level nav item</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav_li">
                <input id="group-3" type="checkbox" hidden />
                <label for="group-3" class="root-menu" id="c">
                    First level
                    <i class="fas fa-angle-down icon-padding"></i>
                </label>
                <ul class="group-list">
                    <li class='li-vertical nav_li'>
                        <li class="nav_li">
                            <a href="#" id="c1">1st level item</a>
                        </li>
                        <li class="nav_li">
                            <a href="#" id="c2">1st level item</a>
                        </li>
                        <input id="sub-group-3" type="checkbox" hidden />
                        <label for="sub-group-3" id="c3">
                            Second level
                            <i class="fas fa-angle-down icon-padding"></i>
                        </label>
                        <ul class="sub-group-list">
                            <li class='li-vertical nav_li'>
                                <a href="#" id="c3-1">2nd level nav item</a>
                            </li>
                            <li class="nav_li">
                                <a href="#" id="c3-2">2nd level nav item</a>
                            </li>
                            <li class="nav_li">
                                <a href="#" id="c3-3">2nd level nav item</a>
                            </li>
                            <li class="nav_li">
                                <input id="sub-sub-group-3" type="checkbox" hidden />
                                <label for="sub-sub-group-3" id="c3-4">
                                    Third level
                                    <i class="fas fa-angle-down icon-padding"></i>
                                </label>
                                <ul class="sub-sub-group-list">
                                    <li class='li-vertical nav_li'>
                                        <a href="#" id="c3-4-1">3rd level nav item</a>
                                    </li>
                                    <li class="nav_li">
                                        <a href="#" id="c3-4-2">3rd level nav item</a>
                                    </li>
                                    <li class="nav_li">
                                        <a href="#" id="c3-4-3">3rd level nav item</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav_li">
                <input id="group-4" type="checkbox" hidden />
                <label for="group-4" class="root-menu" id="d">
                    First level
                    <i class="fas fa-angle-down icon-padding"></i>
                </label>
                <ul class="group-list">
                    <li class='li-vertical nav_li'>
                        <li class="nav_li">
                            <a href="#" id="d1">1st level item</a>
                        </li>
                        <input id="sub-group-4" type="checkbox" hidden />
                        <label for="sub-group-4" id="d2">
                            Second level
                            <i class="fas fa-angle-down icon-padding"></i></label>
                        <ul class="sub-group-list">
                            <li class='li-vertical nav_li'>
                                <a href="#" id="d2-1">2nd level nav item</a>
                            </li>
                            <li class="nav_li">
                                <a href="#" id="d2-2">2nd level nav item</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>