<div class="hamburger-menu">
    <h3 class="hamburger-menu-title" onclick="window.open('/', '_self')">Documentation</h3>        
    <div class="hamburger-menu-wrapper">
        <div class="searchbar">
            <input type="text" onfocus="removeDisplayNoneResultsContainer(event)" onblur="resetSelectedItem(event)" class="searchBox" autocomplete="off">
            <ul class="results-container"></ul>
        </div>
        {% for menuItem in site.data.sidebar.sidebar %}
            <div class="parent">
                <button class="dropdown-btn {% if page.category == menuItem.title %}is-selected{% endif %}" id="top-button" onclick="openHamburgerDropdown(event)">{{ menuItem.title }}</button>
                <div class="dropdown-container {% unless page.category == menuItem.title %}display-none{% endunless %}">
                    {% for item in menuItem.items %}
                    <a class="{% if page.url == item.url %}is-selected{% endif %}" click="onSelectDrowdownItem"
                    {% assign inlineCheck = item.url | slice: 0, 4 %}
                    target="{% if inlineCheck == 'http' %}_blank{% else %}_self{% endif %}"
                    href="{{ item.url }}">{{ item.page }}</a>
                    {% endfor %}
                </div>
             </div>
        {% endfor %}
        <button onclick="window.open('https:\/\/github.com\/uvdesk\/uvdesk.github.io', '_blank')" class="button headerBtn hamburgerMenuContentBtn bgPurpleShade">Fork on Github</button>
        <button onclick="window.open('https:\/\/www.uvdesk.com\/en\/opensource', '_blank')" class="button headerBtn hamburgerMenuContentBtn bgGreenShade">UVdesk Helpdesk</button> 
    </div>
</div>
