
<div class="hamburger-menu">
    <h3 class="hamburger-menu-title">Documentation</h3>
    <div class="hamburger-menu-wrapper">
        <div class="parent">
            <button class="dropdown-btn" id="top-button">Installation</button>
            <div class="dropdown-container">
                <a href="/uvdemo/prerequisites/prerequisites.html">Prerequisites</a>
                <a href="/uvdemo/installation/installation-ubuntu.html">Installation on Ubuntu</a>
                <a href="/uvdemo/installation/installation-windows.html">Installation on Windows</a>
                <a href="/uvdemo/installation/installation-mac.html">Installation on Mac</a>
            </div>
        </div>
        
        <div class="parent">
            <button class="dropdown-btn">Users</button>
            <div class="dropdown-container">
                <a href="/uvdemo/users/groups.html">Groups</a>
                <a href="/uvdemo/users/teams.html">Teams</a>
                <a href="/uvdemo/users/agents.html">Agents</a>
                <a href="/uvdemo/users/privileges.html">Privileges</a>
                <a href="/uvdemo/users/customers.html">Customers</a>
            </div>
        </div>
        
        <div class="parent">
            <button class="dropdown-btn">Knowledgebase</button>
            <div class="dropdown-container">
                <a href="/uvdemo/knowledgebase/folder.html">Folder</a>
                <a href="/uvdemo/knowledgebase/category.html">Category</a>
                <a href="/uvdemo/knowledgebase/article.html">Article</a>
            </div>
        </div>
        
        <div class="parent">
            <button class="dropdown-btn">Productivity</button>
            <div class="dropdown-container">
                <a href="/uvdemo/productivity/ticket-type.html">Ticket Types</a>
                <a href="/uvdemo/productivity/tags.html">Tags</a>
                <a href="/uvdemo/productivity/replies.html">Saved Replies</a>
                <a href="/uvdemo/productivity/workflow.html">Workflows</a>
                <a href="/uvdemo/productivity/prepared-response.html">Prepared Responses</a>
            </div>
        </div>
        
        <div class="parent">
            <button class="dropdown-btn">Setting</button>
            <div class="dropdown-container">
                <a href="/uvdemo/settings/branding.html">Branding</a>
                <a href="/uvdemo/settings/template.html">Email Templates</a>
                <a href="/uvdemo/settings/swiftmailer.html">Swift Mailer</a>
                <a href="/uvdemo/settings/email-settings.html">Email Settings</a>
                <a href="/uvdemo/settings/block-spam.html">Block Spam</a>
                <a href="/uvdemo/settings/mailbox.html">Mail Box</a>
            </div>
        </div>
        
        <div class="parent">
            <button class="dropdown-btn">Helpful Links</button>
            <div class="dropdown-container">
                <a href="https://demo.uvdesk.com/">Schedule a Demo</a>
                <a href="https://www.youtube.com/channel/UCKKt4IOC7ynLwhJMP35uFeQ">Video Tutorial</a>
                <a href="https://forums.uvdesk.com/">Webinar - Forum</a>
                <a href="https://www.uvdesk.com/en/articles/">Read Blogs</a>
                <a href="https://bagisto.com/en/roadmap/">Released - Add Roadmap</a>
            </div>
        </div>
        
        <div class="parent">
            <button class="dropdown-btn">Community</button>
            <div class="dropdown-container">
                <a href="https://github.com/uvdesk/community-skeleton/blob/master/README.md">Get Involved in the Community</a>
                <a href="">Help to Make UVdesk Community</a>
            </div>
        </div>
        
        <div class="parent">
            <button class="dropdown-btn">Social Sites</button>
            <div class="dropdown-container">
                <a href="https://www.facebook.com/uvdesk/">Facebook</a>
            </div>
        </div>
        
        <div class="parent">
            <button class="dropdown-btn">Generates Tickets</button>
            <div class="dropdown-container">
                <a href="https://support.uvdesk.com/en/">Create Ticket</a>
            </div>
        </div>
        
        <button class="button headerBtn hamburgerMenuContentBtn">Fork on Github</button>
        <button class="button headerBtn hamburgerMenuContentBtn">UVdesk Helpdesk</button>
    </div>
</div>
