// hamburger menu start
.hamburger-menu {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: var(--hamburger-menu-width);
  height: 100%;
  box-shadow: 2px 0 5px var(--hamburger-box-shadow-color);
  background-color: var(--container-bg-color); 
  z-index: 9999;
  overflow: auto;
  border-right: 1px solid var(--hamburger-border-color);
}

.hamburger-menu a {
  color: initial;
}

.hamburger-menu {
  -webkit-transition: left 200ms linear;
  -moz-transition: left 200ms linear;
  -ms-transition: left 200ms linear;
  -o-transition: left 200ms linear;
  transition: left 200ms linear;
  left: calc(-1 * var(--hamburger-menu-width));
}

.display-none {
  display: none;
}

.hamburger-menu-title {
  width: calc(var(--hamburger-menu-width) - 3 * var(--hamburger-menu-item-left-margin) );
  padding-bottom: var(--hamburger-menu-item-bottom-margin); 
  margin: calc(4 * var(--hamburger-menu-item-bottom-margin)) var(--hamburger-menu-item-left-margin) var(--hamburger-menu-item-bottom-margin);
  opacity: 0.5;
  border-bottom: 1px solid var(--hamburger-menu-heading-bottom-border-color);
  cursor: pointer;
}

.hamburgerMenuContentBtn {
  align-self: flex-start;
  margin-bottom: var(--hamburger-menu-item-bottom-margin);
  padding: 5px 7px;
  border: 1px;
  margin-left: var(--hamburger-menu-item-left-margin);
  border-radius: 3px;
  font-size: var(--hamburger-menu-item-font-size);
}

.bgPurpleShade {
  background-color: var(--purple-bg-shade);
}

.bgGreenShade {
  background-color: var(--green-bg-shade);
}

.hamburger-menu-wrapper .searchbar {
  margin: 20px 0px;
  text-align: center;
  input, .results-container {
    width: 170px;
    display: block;
    margin-left: var(--hamburger-menu-item-left-margin);
    text-align: left;
  }
}

// Style the sidenav links and the dropdown button */
.dropdown-btn {
  margin-left: calc(var(--hamburger-menu-item-left-margin));
}

.hamburger-menu-wrapper .parent a, .dropdown-btn{
    text-decoration: none;
    margin-bottom: var(--hamburger-menu-item-bottom-margin);
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    font: var(--hamburger-menu-item-font-weight) var(--hamburger-menu-item-font-size) var(--hamburger-menu-item-font-family);
    border-bottom: 2px solid rgba(0,0,0,0);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: -ms-fit-content;
    width: -o-fit-content;
    width: fit-content;
}

.hamburger-menu-wrapper .parent a {
  margin-left: var(--hamburger-menu-item-bottom-margin);
}

.dropdown-container a {
   margin-left: var(--hamburger-menu-dropdown-container-item-left-margin);
}

.dropdown-btn:hover, .dropdown-container a:hover {
    color: var(--paragraph-heading-color);
    opacity: 1;
    border-bottom-color: var(--purple-bg-shade);
}

.hamburger-menu-wrapper .parent button:visited,
.hamburger-menu-wrapper .parent a:visited,
.hamburger-menu-wrapper .parent a:active,
.hamburger-menu-wrapper .parent button:active {
  color: initial;
}

.parent:first-of-type .dropdown-btn {
    margin-top: calc( var(--hamburger-menu-seperator-margin));
}

// Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content
.dropdown-container {
    margin: 0 calc(var(--hamburger-menu-item-left-margin)) calc( var(--hamburger-menu-item-bottom-margin));
}
// hamburger menu end



// hamburger icon start
.hamburger-menu-show {
  left: 0px !important;
}

.hamburger-menu-icon {
  display: none;
  -webkit-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  user-select: none;
}

.hamburger-menu-icon:hover {
  cursor: pointer;
}

.hamburger-menu-icon-change {
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.hmi-bar1, .hmi-bar2, .hmi-bar3 {
  width: 30px;
  height: 4px;
  background-color: var(--purple-bg-shade, #8473F3);
  margin: 6px 0;
  user-select: none;
}

.hamburger-menu-icon-change .hmi-bar1 {
  -webkit-transform: rotate(45deg) translate(6px, 6.5px);
  -moz-transform: rotate(45deg) translate(6px, 6.5px);
  -ms-transform: rotate(45deg) translate(6px, 6.5px);
  -o-transform: rotate(45deg) translate(6px, 6.5px);
  transform: rotate(45deg) translate(6px, 6.5px);
}

.hamburger-menu-icon-change .hmi-bar2 { opacity: 0; }

.hamburger-menu-icon-change .hmi-bar3 {
  -webkit-transform: rotate(-45deg) translate(8px, -8px);
  -moz-transform: rotate(-45deg) translate(8px, -8px);
  -ms-transform: rotate(-45deg) translate(8px, -8px);
  -o-transform: rotate(-45deg) translate(8px, -8px);
  transform: rotate(-45deg) translate(8px, -8px);
}
// hamburger icon end

.is-selected {
  color: var(--purple-bg-shade) !important;
  font-weight: bold !important;
}




@media only screen and (min-width: 1000px) {
  .hamburger-menu-wrapper .searchbar {
    display: none;
  }
}




