html {
  font-family: var(--root-font-family);
  font-size: var(--root-font-size);
}

body {
  min-width: 300px;
  overflow-x: hidden !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-size: var(--universal-font-size);
  color: var(--paragraph-heading-color);
}


p {
  opacity: var(--paragraph-opacity);
  font-size:var(--paragraph-font-size);
}

.container {
  background-color: var(--container-bg-color);
  display: grid;
  -webkit-grid-template-columns: auto;
  -moz-grid-template-columns: auto;
  -ms-grid-template-columns: auto;
  -o-grid-template-columns: auto;
  grid-template-columns: auto;
}

.header {
  box-sizing: border-box;
  display: flex;
  border-color: var(--header-border-color);
  border-bottom-style: inset;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-width: 1px;
  padding: var(--header-footer-padding);
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0px 1px 5px var(--header-box-shadow-color);
  user-select: none;
  background-color: var(--container-bg-color);
}

.header .first {
  padding-top: 3px;
}

.header .first svg, .header .second h3 {
  cursor: pointer;
}

.header .second {
  padding-top: 17px;
}

.header .second h3 {
  display: inline-block;
  padding-right: 15px;
  font-weight: 500;
}

.headerBtn {
  padding: 8px 15px;
  box-shadow: none !important;
}
/*.headerBtn:nth-child(2) 
Because the search bar has been added,
the 2nd child is now the third child.
*/
.headerBtn:nth-child(3) {
  background-color: var(--purple-bg-shade);
  margin-right: 5px;
}
/*.headerBtn:nth-child(3)
Because the search bar has been added,
the 3rd child is now the 4th.
*/
.headerBtn:nth-child(4) {
  background-color: var(--green-bg-shade);
}

@media all and (max-width: 999px) {
  .second .inline-header {
    display: none;
  }

  .container .hamburger-menu {
    display: block;
  }
  .container .second .hamburger-menu-icon {
    display: block;
  }
  .ipsum-logo {
    max-height: 300px;
    max-width: 400px;
    overflow-x: hidden !important;
  }

}


@media only screen and (min-width: 1000px) {
  .component-container .hamburgerMenuContentBtn:nth-of-type(1), .component-container .hamburgerMenuContentBtn:nth-of-type(2) {
    display: none;
  }  

}

// grid community container
.community-cotainer-heading {
  font-size: var(--main-heading-size);
  font-weight: var(--heading-font-weight, bold);
  color: #282828;
  line-height: 1.2;
  padding-bottom: var(--main-heading-bottom-spacing);
}

.grid-community-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: var(--homepage-container-padding);
  align-items: center;
}

.community {
  flex: 0 auto;
}

.index-image {
  flex: 0 auto;
  padding-left: calc(var(--main-heading-bottom-spacing) * 4);
}

.index-image img {
  height: auto;
  width: auto;
}



@media all and (max-width: 1000px) {
  .grid-community-container {
    flex-flow: column wrap;
    justify-content: flex-start;
  }
  .index-image {
    padding-left: 0;
    padding-top: calc(var(--main-heading-bottom-spacing) * 2);
    text-align: center;
  }
}

@media all and (max-width: 670px) {
   .index-image img {
      height: 80%;
      width: 80%;
  }
}

// item start

.item {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  min-height: var(--item-min-height);
  min-width: var(--item-min-width);
  padding: var(--item-padding);
}

.item > p {
  margin: var(--paragraph-tb-margin) 0;
}

.item > h4 {
  font-weight: var(--item-heading-font-weight);
}

.button {
  box-sizing: border-box;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  transition: opacity 100ms ease;    
}

a {
  text-decoration: none;
  color: var(--purple-bg-shade);
}

.button:hover, a:hover {
  opacity: var(--button-link-hover-opacity);
}

a:visited {
  color: var(--button-link-visited-color);
}

.button:focus {
  outline: none;
}

.button:active, a:active {
  opacity: var(--button-link-active-opacity);
}

.grid-gap {
  min-width: 30px;

}

.topic-box {
  border: 1px solid;
  border-color: var(--topic-box-border-color);
  padding: var(--topic-box-padding);
  box-shadow: 2px 4px 5px 0 var(--topics-box-shadow-color), -1px 0px 5px 0 var(--topics-box-shadow-color);
  border-radius: 2px;
  background-color: var(--topic-box-bg-color);
  justify-content: flex-start;
}

.item.box-3 {
  background-color: transparent;
}

.item.box-3 > h4 {
  background-color: transparent;
}
// item end


// topics
.topics {
    padding: var(--homepage-container-padding);
    background-color: var(--topics-bg-color);
}


.topics-heading {
  font-size: 17px; 
  //font-size: var(--sub-heading-font-size);
  font-weight: var(--heading-font-weight);
  //padding-bottom: calc( 3 * var(--sub-heading-bottom-spacing));
  padding-top: calc( var(--sub-heading-bottom-spacing));
  margin-left: -16px; 

}

.topics-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: 1fr;
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
}

.topic-box-title {
  color: var(--purple-bg-shade);
  text-decoration: none;
  font-weight: var(--item-heading-font-weight);
  margin-bottom: 0px;
  font-size: 21px; 
}

.topic-box h4:first-of-type {
  margin-bottom: 10px;
}

.scheduleDemoBtn {
  background-color: var(--purple-bg-shade);
  width: 150px;
  padding: 10px;
}

@media all and(min-width: 1261px) {
  .item.box-3 {
    grid-column: 4 / 5;
  }
}

@media all and (max-width: 1260px) {
  .topics {
    padding-bottom: 0px;
  }
  .topics-grid-container{
    grid-template-columns: 1fr 1fr;
  }
  .topic-box:nth-of-type(1) {
    order: 1;
  }
  .topic-box:nth-of-type(2) {
    order: 2;
  }
  .box-3:nth-of-type(4) {
    margin-top: calc( 3 * var(--sub-heading-bottom-spacing));
    order: 7;
  }
  .topic-box:nth-of-type(5) {
    order: 3;
  }
  .topic-box:nth-of-type(6) {
    order: 4;
  }
  .box-3:nth-of-type(8) {
    margin-top: calc( 3 * var(--sub-heading-bottom-spacing));
    order: 8;
  }
  .topic-box:nth-of-type(9) {
    order: 5;
  }
  .topic-box:nth-of-type(10) {
    order: 6;
  }
  .box-3:nth-of-type(12) {
    order: 10;
    margin-top: calc(0 * var(--sub-heading-bottom-spacing));
  }
  .grid-gap {
    display: none;
  }
}

@media all and (max-width: 576px) {
  .topics {
    padding: var(--homepage-container-padding);
  }
  .topics-grid-container{
    grid-template-columns: 1fr;
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
    grid-auto-rows: auto;
  }
  .box-3 {
    min-height: 0px;
    height: auto;
    margin: 10px 0;
  }
  .topic-box:nth-of-type(1) {
    order: 1;
  }
  .topic-box:nth-of-type(2) {
    order: 2;
  }
  .box-3:nth-of-type(4) {
    order: 7;
    margin-top: var(--sub-heading-bottom-spacing);
  }
  .topic-box:nth-of-type(5) {
    order: 3;
  }
  .topic-box:nth-of-type(6) {
    order: 4;
  }
  .box-3:nth-of-type(8) {
    order: 8;
    margin-top: 0;
  }
  .topic-box:nth-of-type(9) {
    order: 5;
  }
  .topic-box:nth-of-type(10) {
    order: 6;
  }
  .box-3:nth-of-type(12) {
    order: 9;
    margin-top: 0;
  }
  .grid-gap {
    display: none;
  }
}

// helpful links
.ticket-content {
  background-color: var(--purple-bg-shade, #8473F3);
  padding: 40px;
  border: thin solid #E6E6E9;
  border-radius: 2px;
  border-top: transparent;
  border-left: transparent;
  
}
.ticket-content > p {
  padding: 0 0 15px;
  color: white;
}

.ticket-content > h3 {
  font-size: var(--ticket-content-heading-font-size);
  font-weight: var(--heading-font-weight, bold);
  padding-bottom: var(--ticket-content-bottom-padding);
  color: white;
}

.ticketBtn {
  background: var(--green-bg-shade);
  width: var(--ticket-button-width);
  padding: 9px 5px;
  margin-top: 5px;
  color: white;
}

.helpful-links {
  padding: var(--homepage-container-padding);

}

.helpful-links-heading {
  font-weight: var(--heading-font-weight, bold);
  padding-bottom: calc(2 * var(--sub-heading-bottom-spacing));
  padding-top: calc(var(--sub-heading-bottom-spacing));
  font-size: 27px;//var(--sub-heading-font-size);
}

.item.helpful:nth-of-type(1) {
  padding-bottom: 0;
}
.item.helpful:nth-of-type(2) {
  padding-bottom: 0;
}
.item.helpful:nth-of-type(3) {
  margin-top: 0;
}
.item.helpful:nth-of-type(4) {
  padding-top: 0;
}
.item.helpful:nth-of-type(5) {
  padding-top: 0;
}


.helpful-links-grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: var(--grid-column-gap);
    grid-row-gap: var(--grid-row-gap);
    grid-auto-rows: auto;
}

.item.helpful {
  padding-left: var(--helpful-item-left-padding);
}

.item.helpful.ticket {
  color: white;
}


@media all and(min-width: 1261px) {
  .ticket {
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
  }
}

@media all and(max-width: 1260px) {
  .helpful-links-grid-container {
    grid-template-columns: auto auto;
  }
  .ticket {
    order: 5;
    grid-column: 1 / 3;
  }
  .item.helpful.ticket {
    margin-top: var(--ticket-top-margin) !important;
  }

  .item.helpful:nth-of-type(2) {
    padding-right: 0;
  }
  .item.helpful:nth-of-type(4) {
    padding-right: 0;
  }
  .item.helpful:nth-of-type(6) {
    padding-right: 0;
  }
}

@media all and(max-width: 846px) {
  .helpful-links-grid-container {
    grid-template-columns: auto;
    grid-row-gap: var(--grid-row-gap);
    grid-column-gap: var(--grid-column-gap);
  }
  .ticket {
    order: 5;
  }
  .item.helpful.ticket {
    margin-top: var(--ticket-top-margin) !important;
  }
}

// footer
.footer {
  background-color: var(--footer-background-color);
  text-align: center;
  padding: var(--header-footer-padding);

  padding-top: var(--footer-tb-padding);
  padding-bottom: var(--footer-tb-padding);
  height: var(--header-footer-height);
  display:table;
}

.footer p {
  color: var(--footer-text-color);
}

.footer123 {
  display: table-cell;
  vertical-align: middle;
}





  


