@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

/* header css start */

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 12px;
  font-size: 1.2rem;
}

p {
  font-size: 13px;
  font-size: 1.3rem;
}






.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 2%;
}


.header {
  display: flex;
  height: 70px;
  border-color: #cbcfd6;
  border-bottom-style: inset;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-width: 1px;
}

.top_heading {
  font-size: 30px;
  font-size: 3.0rem;
  font-weight: 500;
  color: #282828;
}

.first {
  padding: 3px 10px 0px 30px;
}


.second {
  padding: 10px 30px 10px 2px;
  font-family: 'Source Sans Pro',sans-serif;
}

@media all and (min-width: 500px) {
  .second {
    display: none;
  }
}

@media all and (min-width: 700px) {
  .second {
    display: initial;
  }
}

.clear {
  clear: both;
}

.remove-line-docs {
  text-decoration: none;
  color: #1b1b1c;
}

.bloglink {
  color: #7878C1;
}

.headerbtn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px 1px #D4D5D4;
  
}

.headerbtn:hover{
  box-shadow: 1px 1px 10px 1px grey;
  background-color: #2DD32D;
}

.headerbtn.color {
  background-color: #7878C1;
}

.headerbtn.color:hover{
  box-shadow: 1px 1px 10px 1px grey;
  background-color: #7E7EF9;
}

.nav {
  padding-right: 9px;
  font-weight: bold;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 18px;
}

.search {
  width: 100%;
  margin: 0 auto;
  height: 60px;
  border-bottom: thin solid #A0A09F;
}

.blog {
  margin-left: 240px;
  width: 40%;
  font-size: xx-large;
  font-family: 'Source Sans Pro',sans-serif;
  float: left;
  line-height: 63px;
}

.search-bar {
  position: relative;
  float: right;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 290px;
}

.searchicon {
  width: 25px;
  height: 25px;
  padding-left: 168px;
}

.searchicon.space {
  padding-left: 20px;
}


/* header css End */


.main_container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2%;
}


.main_content_box {
  width: 65%;
    display: inline-block;
    vertical-align: top;
}

.content {
  font-size: 18px;
  padding-top: 5px;
  color: #282828;
  font-family: 'Source Sans Pro',sans-serif;
}

.link {
  text-decoration: none;
  color: #1c52ce;
}


/*footer css start */

.footer {
  width: 100%;
  background-color: #362F55;
  color: #f2f4f9;
  margin-top: 50px;
}

.language {
  width: 35%;
  display: inline-block;
  padding: 49px 0 35px 209px;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 18px;
}

.social-links {
  padding-left: 248px;
  width: 20%;
  display: inline-block;
}

.dropbtn {
  background-color: #39216d;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 1px grey;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #170654;
  box-shadow: 1px 1px 10px 1px white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.copyrightblock {
  width: 55%;
  margin: 0 0 0 300px;
  text-align: center;
  font-size: 18px;
  padding-bottom: 20px;
  font-family: 'Source Sans Pro',sans-serif;
}


/*footer css End */

.hr_space {
  margin-top: 40px;
}


/* pagination css start */

.pagination {
  padding: 24px 0 0 500px;
  font-size: 25px;
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #7878C1;
  color: white;
  border-radius: 8px
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}


/* pagination css end */

// .origin-box {
//   width: 100%;
//   font-family: 'Source Sans Pro',sans-serif;
//   color: #282828;
// }

// .origin-box.topic {
//   background-color: #FCF9FF;
//   font-size: 18px;
//   padding: 45px 0px 120px 0px;
// }

.box3button {
  background-color: #7878C1;
  border: none;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px grey;    
}

.box-title {
  color: #7878C1;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0px;
}

.helpful-links {
  // width: 1050px;
  // font-family: 'Source Sans Pro',sans-serif;
  color: #282828;
  // font-size: 18px;
  // padding: 30px 0px 1px 158px;
  display: grid;
  grid-template-columns: auto;
}


.box3button.ticketbtn {
  background-color: #4CAF50;
  box-shadow: 1px 1px 5px 1px #e5e5e5;
}

#search-text-input {
  padding: 20PX 10px 21px;
  margin: unset;
  font-size: 1em;
  line-height: 1.4em;
  border-top: transparent;
  border-right: transparent;
  border-bottom: transparent;
  border-left: transparent;
  float: left;
  margin: .8em 0 0 .5em;
  outline: 0;
  padding: .4em 0 .4em .6em;
  width: 183px;
}

#button-holder {
  position: absolute;
  right: -26px;
  top: 16px;
  background-color: transparent;
  cursor: pointer;
}

#button-holder img {
  margin: 4px;
  width: 20px;
}



// grid-container;


.grid-container {
  display: grid;
  grid-gap: 2%;
  justify-content: center;
}


@media all and (min-width: 500px) {
  .grid-container {
    grid-template-columns: auto;
  }

  .top-heading-title {
    text-align: center;
  }

}

@media all and (min-width: 800px) {
  .grid-container {
    grid-template-columns: auto auto;
  }

  .top-heading-title {
    text-align: left;
  }

}

@media all and (min-width: 1000px) {

  .grid-container {
    grid-template-columns: auto auto auto;
  }

}


.item {
  background-color: white;
  font-size: 18px;
  font-size: 1.8rem;
}

.item > h4, p {
  margin: 10px 0;
}

.item > h4 {
  font-size: 18px;
  font-size: 2rem;
}



.topic-box {
  border: 1px solid;
  border-color: #E6E6E9;
  padding: 0px 15px;
  box-shadow: 2px 2px 2px 2px #E6E6E9;
  background-color: white;
}

.item.box-3 {
  background-color: transparent;
}



// .ticket {
//   grid-row-start: 1;
//   grid-row-end: 3;
//   grid-column-start: 3;
//   grid-column-end: 4;
//   margin-top: 140px;
// }

.ticket-content {
  background-color: #7878C1;
  padding: 10px;
  border: thin solid #E6E6E9;
  border-radius: 3px;
  
  border-top: transparent;
  border-left: transparent;
}

.grid-footer-container {
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
}

.footer123 {
  background-color: transparent;
  margin: 0;
  padding: 0;
  text-align: center;
}


.grid-Community-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}


.community {
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 18px;
  color: #282828;
  flex: 0 40%;
}

.index-image {
  flex: 0 30%;
}

.index-image img {
  height: auto;
  width: 100%;
}

@media all and (max-width: 576px) {
  .grid-Community-container {
    flex-flow: column wrap;
    justify-content: flex-start;
    margin:20px;
    margin: 2rem;
  }

  .community {
    width: 400px;
  }

  .index-image {
    width: 400px;
  }
}

.origin-box {
  display: grid;
  grid-template-columns: auto; 
  grid-row-gap: 2%;
}

.top-heading-title {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: sans-serif;
  font-weight: 500;
}

.grid-Community-header {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.logo {
  padding: 11px 0 0 63px;
}

.foot1 {
  font-size: 15px;
}

.foot2 {
  font-size: 18px;
}

.group-list a,
.group-list label {
  border-left: 5px solid black;
  padding: 10px 10px;
  background: #7E7EF9;

}

.home-a {
  text-decoration: none;
  color: #7878C1;
}

.sub-group-list a,
.sub-group-list label {

  background: #64D654;
  border-left: 5px solid black;
  padding: 10px 10px;
}

ul {
  list-style-type: none;
}

.group-list a:focus,
.group-list a:hover,
.group-list label:focus,
.group-list label:hover {
  background: #131313;
}

.sub-sub-group-list a,
.sub-sub-group-list label {
  background: #D69954;
}

.group-list,
.sub-group-list,
.sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 2s ease-in-out;
  transition: max-height 2s ease-in-out;
  margin-top: 25px;
}

.nav__list input[type=checkbox]:checked+label+ul {
  /* reset the height when checkbox is checked */
  max-height: 1000px;
  font-size: 18px;

}

.root-menu {
  background: #DFDBF9;
  font-size: 18px;
  color: #343434;
  position: relative;
  font-weight: bold;
  padding: 10px 10px;
  margin-top: 10px;
  border-left: 5px solid black;
}

.nav_li {
  margin-bottom: 30px;
}

/* .click1 {
  background: yellow;
  border-left: 5px solid black;
  padding: 10px 10px;
} */

.li-vertical {
  margin-top: 30px;
}

.icon-padding {
  padding-left: 60px;
}

.side-bar-container {
  display: inline-block;
  width: 30%;
  height: 25vh;
  min-height: 600px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

/* ------------------- */
.search-result {
  background-color: #E1EAFF;
  clear: both;
  width: 250px;
  font-weight: 600;
  /* padding: 12px 7px 0px 17px; */
  margin: 0px 0px 0px 790px;
  font-size: 15px;
  color: #131313;

}

.open {
    display: block !important;
}

.component-index-container{
  background-color: #FCF9FF;
  width: 1200px;
  margin: 0 0 0 60px;
}

.installation-component {
  margin: 0 0 0 60px;
}

.component-title {
  color: #7878C1;
  font-size: xx-large;
  font-weight: bold; 
}

.component-sub-title {
  color: #7878C1;
  font-size: x-large;
  font-weight: bold;
}

.component-a{
  color: #282828;
  text-decoration: none;
  border-color: #cbcfd6;

}

.component-a:hover {
  background-color: #C4C3F7;
  box-shadow: 2px 2px 2px 2px #C4C3F7;
}

.components-topics {
  color: #272828;
  font-size: x-large;
  font-weight: bold;
  line-height: 40px; 
  
}

.component-sub-a {
  color: #7878C1;
  text-decoration: none;
  border-color: #cbcfd6;
  font-size: large;
}

.component-sub-a:hover {
  color: #282828;
  background-color: #C4C3F7;
  box-shadow: 2px 2px 2px 2px #C4C3F7;
}

.sub-a {
  color: #272828;
  border-color: #cbcfd6;
  font-size: large;
}

.paragraph {
  font-size: 18px;
}

.paragraph1 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
}

.command-heading {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
}

.command {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  border-left: 6px solid #7878C1;
  background-color: lightgrey;
  padding: 5px;
}

.image-heading {
  font-weight: 600;
  font-size: 18px;
  font-style: noraml;
}

.big-screen-shot {
  width: 850px;
}

.helpful-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 2%;
}

.item.helpful.ticket {
  grid-column: 3 / 4;
  grid-row: 1 / span 2;
}

@media all and (max-width: 500px) {
  .helpful-grid-container {
    grid-template-columns: auto;
  }

  .item.helpful.ticket {
    grid-column: initial;
    grid-row: 5 / span 2;
  } 
}