/*
This class is found in the header, it contains both the search bar and the ul.
It is used to display its components in proper alignment. 
*/
.search-bar-div {
  display: inline-block;
}

.aside-title {
  font-size: 21px; 
}

#results-container {
  
  list-style-type: none;
  position: absolute;
  z-index: 1000;
  box-shadow: 5px 10px 8px #888888; 
  width: 250px; 
  padding: 0px;
  margin-top: 5px;  


}


/*
start with light background: background-color: #dfdbff
on hover dark background: background-color: #8473F3;
*/

#results-container li {
  background-color: #dfdbff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-right: -20px; 

}
#results-container li:hover {
  background-color: #8473F3;
  transition: 0.65s; 

}
#results-container li a:hover {
  color: white;
  //font-size: 20px; 
  //box-shadow: 5px 10px 8px #888888;
}

#results-container-sidebar li a:hover {
  color: white;
}



#results-container-sidebar {
  list-style-type: none;
  position: absolute;
  z-index: 1000;
  box-shadow: 5px 10px 8px #888888;
  background-color: white;
  padding: 0px; 
 
}

#results-container-sidebar li {
  background-color: #dfdbff;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;

}

/*
start with light background: background-color: #dfdbff
on hover dark background: background-color: #8473F3;
*/

#results-container-sidebar li:hover {
  background-color: #8473F3;
  transition: 0.65s;
}

#results-container-sidebar li a{
  color: #8473F3;
}

.search-bar-header {
  border-radius: 15px; 
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;  
  padding-left: 28px;
  padding-right: 5px; 
  background-image: url(/assets/images/search-1.png);
  background-repeat: no-repeat;
  background-position: 7px 7px; 
  border: 1px solid #d9dde2;
  margin-right: 20px; 


}
.search-bar-header:focus {
  border: 1px solid #8473F3;
  transition: 0.5s;
}

.search-bar-sidebar:focus {
  border: 1px solid #8473F3;
  transition: 0.5s;
}


.search-bar-sidebar {
  /*
  On hover, the border should be this color: #8473F3;
  */

  border-radius: 15px;
  background-color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 28px;
  padding-right: 5px;
  background-image: url(/assets/images/search-1.png);
  background-repeat: no-repeat;
  background-position: 7px 7px;
  border: 1px solid #d9dde2;
  max-width: 170px;
  margin-left: 30px;
  margin-top: 5px; 
  margin-bottom: 5px;
}

 .component-sub-a{
    font-size: 15px !important;
    overflow-x: hidden !important;
    width: 85%;
  }
  .image-heading{
    margin-left: 10px; 
    padding-right: 10px; 
    overflow-x: hidden !important;
    font-size: 20px;
  }

  .topics-heading{
    font-size: 18px;
    color: #000000;
  }
  .component-title{
    font-size: 27px !important;
    width: 85%;
    //margin-left: 10px;
    margin-left: -15px;
    padding-bottom: 10px; 
    color:#131516;
    padding-right: 10px; 
    overflow-x: hidden !important;

  }
  .component-sub-title{
  
    font-size: 20px !important;
    margin-left: -15px;
    padding-bottom: 5px;
    color: #3a3535;
    padding-right: 10px; 
    font-size: 22px;
    overflow-x: hidden !important;
    max-width: 85%;
  }



 .sub-a{
   margin-left: -54px; 
   font-size: 15px !important; 
 }
  
  .paragraph1{
  
    padding-bottom: 15px;
    margin-left: 10px;
    color: #202020;
    font-size: 15px !important;
    padding-right: 20px;
    overflow-x: hidden !important;
    width: 85%;

  }
  
  .command-heading{
  
    margin-left: 10px;
    padding-bottom: 15px;
    color: #171819;
    padding-right: 10px;
    font-size: 15px !important; 
    overflow-x: hidden !important; 
    
  
  }
  .command {
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px; 
    padding-right: 10px;
    //margin-right: -10px; 
    overflow-x: hidden !important;
    border-left: 6px solid #8473F3;
    background-color: #beb6ed;
    padding-left: 5px; 
    margin-bottom: 15px !important;
    width: 85%; 
    font-size: 15px !important; 
  }
  
  .paragraph{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    padding-right: 10px;
    color: #353a42;
    overflow-x: hidden !important; 
    margin-left: -15px;
    width: 85%;
  }
  
  .paragraph1 li {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #535456;
    padding-right: 10px; 
    overflow-x: hidden !important;


  }
  
  .paragraph1 li b{
    font-size: 13px;

  }
  
  .sub-a{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #65696d;
    font-size: 18px;
    padding-right: 10px; 
    list-style-type: none;
    overflow-x: hidden !important;
  }
  

.ipsum-logo{
  
    
    width: auto;
    //max-width: 470px; 
    max-width: 85% !important;
    max-height: 500px;
    margin-left: -30px;
    padding-top: 10px;
    padding-bottom: 10px; 
    overflow-x: hidden !important;

  
  }
  
  
  .component-a{
    margin-left: 10px; 
  }

  /*
  this is for creating alignment for the images that
  are nested within li tags. 
  they were a bit off to the right. 
  */
  .paragraph1 > .ipsum-logo{
    margin-left: -20px;
  }

.installation-component{
  min-height: 600px; 
  margin-left: 30px;
  overflow-x: hidden !important;

  }

  .nav-title > a{
    color: black;
    //font-size: var(--sub-heading-font-size);
  }
  .nav-title {
    font-size: 20px;//var(--sub-heading-font-size);
  }
  
.image-heading {
  font-size: 18px !important; 
}

@media all and (min-width: 871px) {

  
  
    .hamburger-menu {
      display: none !important;
    }
  
    .ipsum-logo{
      width: 100%;
      height: auto;
      padding-right: 10px;
      width: auto;
      max-height: 500px;
    }
    
    .component-title{
      font-size: 23px; 
   
    }
    .component-sub-title{
      //font-size: 28px; 
    }
  
    .sub-a {
      font-size: 18px; 
    }
  
    .component-sub-a {
      font-size: 22px; 
    }
  
    .image-heading {
      font-size: 20px;
      padding-bottom: 10px;
    }
    .paragraph1 {
  
      font-size: 18px;
  
    }
    .command-heading { 
  
      font-size: 18px;
  
    }
    .command {
  
      font-size: 15px; 
    }
    
    .footer {
      width: 100%;
    }

   
    .installation-component {
      overflow-x: hidden !important;
    }
   
  }// end of min width 871
  
  @media all and (min-width: 1200px) {
    .ipsum-logo{
      width: auto;
      max-height: 800px;
      max-width: 800px; 
      margin-left: 40px; 
    }

    .image-heading, .paragraph1, .command-heading, .command {
      margin-left: -15px;
    }

    .component-title {
      max-width: 1000px; 
    }

    
  }

  @media all and (min-width: 871px) {
    .ipsum-logo{
      max-height: 500px;
      width: auto;
      max-width: 450px; 
    }

    .installation-component {
      margin-left: -30px; 
    }
}





  @media all and (max-width: 720) {
    .ipsum-logo{
      width: auto;
      max-width: 500px;
      margin-right: 20px; 
      padding-right: 30px; 
    }

    .component-title {
      font-size: 25px !important; 
    }
 
    .component-sub-title {
    font-size: 23px !important; 
    }

    .image-heading {
      font-size: 20px !important; 
    }

    .topics-heading {
      font-size: 18px !important; 
    }
  }
  
@media all and (max-width: 680px) {

  .ipsum-logo{
    max-width: 500px;
    max-height: 300px;
    margin-left: -30px;
    max-width: 400px;
  }

  .paragraph1, .command-heading, .command, .image-heading {
    margin-left: -20px;
  }

  .footer123 p {
    font-size: 15px; 
  }

  .command-heading {
    font-size: 15px; 
  }

  .command {
    font-size: 13px; 
  }

  .component-title, .component-sub-title {
    margin-left: -20px;
  }

  .component-title {
      font-size: 25px; 
    }
 
    .component-sub-title {
    font-size: 22px !important; 
    }

    .image-heading {
      font-size: 20px !important; 
    }

    .topics-heading {
      font-size: 18px !important; 
    }
}




  @media all and (max-width: 480px) {

    .installation-compotent{
      overflow-x: hidden !important;
    }

    .footer{
      max-width: 480px !important;
    }

    .footer123 p {
      font-size: 15px; 
      overflow-x: hidden !important; 
      padding-right: 50px; 
    }

    
    .components-topics {
      font-size: 15px; 
    }

    .component-title {
      font-size: 25px; 
    }
 
    .component-sub-title {
    font-size: 22px !important; 
    }

    .image-heading {
      font-size: 20px !important; 
    }

    .topics-heading {
      font-size: 18px !important; 
      margin-left: -30px; 
    }
  
    .sidebar-filler {
      grid-column: auto; 
    }
  
    .paragraph1 li b {
      font-size: 12px;
    }

    p {
      font-size: 15px;
    }


    .components-topics .ipsum-logo { 
      
      width: 300px;
      height: auto;
      //margin-right: 40px;
      margin-left: -30px; 
    
    }

    .component-title, .component-sub-title, .image-heading, .paragraph1, .command-heading, .command, .image-heading{

        margin-left: -30px;
        margin-right: 20px; 
    }

  }// end of max width 480
  @media all and (max-width: 410px) {
    .installation-component p {
      max-width: 340px; 
      margin-right: 30px; 
    }
  }

  
  @media all and (max-width: 380px) {

 

    p {
      font-size: 12px;
      padding-right: 40px;
      
    }
    .image-heading{
      font-size: 17px; 
    }

    .command{
      font-size: 15px;
    }
    
  
    .footer{
      max-width: 380px !important;
    }
 
  
    .installation-component{
      grid-column: auto;  
      //font-size: 15px;
      margin-right: 30px;
      //margin-left: -10px; 

  
    }

    .ipsum-logo{
      margin-right: -20px; 
      max-width: 270px; 
    }

    .component-sub-title > ol {
      margin-left: -40px;
    }
  
    
  
    .installation-component > p, .components-topics > p{
      //margin-right: calc(100% - 40%);
      margin-left: -20px;
      max-width: 270px; 
    }

    //does this even work???
    .paragraph1 > li{
       
        margin-left: -25px;
        overflow-x: hidden !important;
        //padding-right: 15px; 
    }

    
    .footer123 p{
      margin-right: -20px;
    }

    .component-title {
      font-size: 25px; 
    }
 
    

    .image-heading {
      font-size: 20px !important; 
    }

    .topics-heading {
      font-size: 18px !important; 
    }
  
  
  }// end of max width 380

  @media all and (max-width: 340px){

  

    .component-sub-title{
      width: 250px;
      font-size: 25px;
    }

    .ipsum-logo{
      max-width: 250px;
      height: 300px;
      //padding-left: 30px; 
     
    }

    .image-heading{
      font-size: 23px; 
    }

    .topics-heading{
      font-size: 20px; 
    }

    .paragraph1 {
      font-size: 17px;
      overflow-x: hidden !important;
      padding-right: 40px;

    }
    .paragraph1 > li{
      max-width: 200px;
      font-size: 18px; 
      padding-top:10px;
      padding-bottom: 10px;
      overflow-x: hidden !important; 
  
    }
    .command-heading{
      font-size: 18px;
    }

    .command{
      font-size: 15px;
    }

    .installation-component{
      margin-left: -5px;
    }

    .footer123 p{
      overflow-x: hidden !important;
      margin-right: 20px; 

    }

    b {
      font-size: 16px; 
    }
  }

@media all and (max-width: 970px)
{
  .search-bar-header {
    max-width: 200px; 
  }

  .results-container {
    margin-left: -30px; 
  }
}

@media all and (max-width: 910px)
{
  .search-bar-header {
    max-width: 150px; 
  }

  .results-container{
    margin-left: -50px; 
  }
}

@media all and (max-width: 1000px) 
{
  .search-bar-header {
    max-width: 200px; 
  }
}

@media all and (max-width: 942px)
{
  .search-bar-header {
    max-width: 130px; 
  }
}

@media all and (max-width: 466px)
{
  .topics {
    max-width: 90%;
    margin-right: 40%;
  }


  .grid-community-container > p {
    margin-right: 15%;
  }

  .index-image{
    margin-right: 35%;
  }

  .ticket-content {
    max-width: 90%;
  }

  .helpful-links {
    max-width: 65%;
  }

  .item.helpful {
    display: grid;
    grid-column: auto;
  }

  

  .community > p, .community h1{
    max-width: 60%;
  }
  .community > img {
    margin-left: -30px;
  }

  .container .header {
    width: 100%; 
  }


 
}