.searchbar {
  position: relative;
}
.inline-header .searchbar {
  margin-right: 15px;
  width: 250px;
  box-sizing: border-box;
  display: inline-block;
}
.searchbar input {
  border-radius: 15px;
  background-color: white;
  border: none;
  padding: 5px 5px 5px 30px;
  background-image: url(/assets/images/search-1.png);
  background-repeat: no-repeat;
  background-position: 7px 7px;
  border: 1px solid #d9dde2;
  width: 100%;
  box-sizing: border-box;
  outline: none !important;
}
.searchbar input:focus {
  border: 1px solid #8473F3;
  transition: 0.5s;
}
.results-container {
  list-style-type: none;
  position: absolute;
  z-index: 1000;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.2); 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 250px;
  transform: translateY(4px);
  border-radius: 1px;
  background-color: var(--topic-box-bg-color);
}
.results-container li a {
  color: #414449;
  font-size: 13.33px;
}
.results-container li{
  background-color: hsla(0, 50%, 50%, 0);//#dfdbff;
  padding: 7px 10px;
  color: var(--topic-box-bg-color);
}
.results-container li:hover {
  background-color: #8773ef; //#8773ef  #dfdbff
  transition: 0.65s;
  
  a {
    color: white;
    opacity: 1;
  }
}


.footer {
  z-index: 9999;
}

.aside-title {
  font-size: 21px; 
}
 

 .component-sub-a{
    font-size: 15px !important;
    overflow-x: hidden !important;
    width: 85%;
  }
  .image-heading{
    margin-left: 10px; 
    padding-right: 10px; 
    overflow-x: hidden !important;
    font-size: 20px;
  }
  .topics-heading{
    font-size: 18px;
    color: #000000;
  }
  .component-title{
    font-size: 27px !important;
    width: 85%;
    margin-left: -15px;
    padding-bottom: 10px; 
    color:#131516;
    padding-right: 10px; 
    overflow-x: hidden !important;
  }
  .component-sub-title{
    font-size: 20px !important;
    margin-left: -15px;
    padding-bottom: 5px;
    color: #3a3535;
    padding-right: 10px; 
    font-size: 22px;
    overflow-x: hidden !important;
    max-width: 85%;
  }
 .sub-a{
   margin-left: -54px; 
   font-size: 15px !important; 
 }
  .paragraph1{
    padding-bottom: 15px;
    //margin-left: 10px;
    margin-left: -15px;
    color: #202020;
    font-size: 15px !important;
    padding-right: 20px;
    overflow-x: hidden !important;
  }
  .command-heading{
    margin-left: 10px;
    padding-bottom: 15px;
    color: #171819;
    padding-right: 10px;
    font-size: 15px !important; 
    overflow-x: hidden !important; 
  }
  .command {
    margin-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px; 
    padding-right: 10px;
    overflow-x: hidden !important;
    border-left: 6px solid #8473F3;
    background-color: #beb6ed;
    padding-left: 5px; 
    margin-bottom: 15px !important;
    width: 85%; 
    font-size: 15px !important; 
  }
  .paragraph{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 15px;
    padding-right: 10px;
    color: #353a42;
    overflow-x: hidden !important; 
    margin-left: -15px;
    width: 85%;
  }
  .paragraph1 li {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #535456;
    padding-right: 10px; 
    overflow-x: hidden !important;
    margin-left: -38px;
  }
  .paragraph1 li b{
    font-size: 13px;

  }
  .sub-a{
    padding-top: 5px;
    padding-bottom: 5px;
    color: #65696d;
    font-size: 18px;
    padding-right: 10px; 
    list-style-type: none;
    overflow-x: hidden !important;
  }

.ipsum-logo{
    max-width: 95%;
    // margin-left: -30px;
     margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px; 
    overflow-x: hidden !important;
  }
  .component-a{
    margin-left: 10px; 
  }
  .paragraph1 > .ipsum-logo{
    margin-left: -20px;
  }

.installation-component{
  min-height: 600px; 
  //margin-left: 30px;
  overflow-x: hidden !important;

  }
  .nav-title > a{
    color: black;
    //font-size: var(--sub-heading-font-size);
  }
  .nav-title {
    font-size: 20px;//var(--sub-heading-font-size);
  }
  
.image-heading {
  font-size: 18px !important; 
}



@media all and (min-width: 1200px) {
  .ipsum-logo{
    max-height: 800px; 
  }
  .image-heading, .paragraph1, .command-heading, .command {
    margin-left: -15px;
  }
  .component-title {
    max-width: 1000px; 
  }
  
}

@media all and (min-width: 871px) and (max-width: 1199px) {

    .ipsum-logo{
      max-height: 500px;
      padding-right: 10px;
    }

    .component-title{
      font-size: 23px; 
   
    }
    .sub-a {
      font-size: 18px; 
    }
    .component-sub-a {
      font-size: 22px; 
    }
    .image-heading {
      font-size: 20px;
      padding-bottom: 10px;
    }
    .paragraph1 {
      font-size: 18px;
    }
    .command-heading { 
      font-size: 18px;
    }
    .command {
      font-size: 15px; 
    }
    .image-heading, .command, .command-heading {
      margin-left: -16px; 
    }
    .footer {
      width: 100%;
    }
    .installation-component {
      overflow-x: hidden !important;
      margin-left: -30px;
    }

    
   
  }// end of min width 871



  // @media all and (max-width: 870px) {
  //   .ipsum-logo{
  //     margin-right: 20px; 
  //     padding-right: 30px; 
  //   }
  //   .component-title {
  //     font-size: 25px !important; 
  //   }
  //   .component-sub-title {
  //   font-size: 23px !important; 
  //   }
  //   .image-heading {
  //     font-size: 20px !important; 
  //   }

  //   .topics-heading {
  //     font-size: 18px !important; 
  //   }
  // }

@media all and (max-width: 680px) {
  .paragraph1, .command-heading, .command, .image-heading {
    margin-left: -20px;
  }
  .footer123 p {
    font-size: 15px; 
  }
  .command-heading {
    font-size: 15px; 
  }
  .command {
    font-size: 13px; 
  }
  .component-title, .component-sub-title {
    margin-left: -20px;
  }
  .component-title {
      font-size: 25px; 
    }
    .component-sub-title {
    font-size: 22px !important; 
    }
    .image-heading {
      font-size: 20px !important; 
    }
    .topics-heading {
      font-size: 18px !important; 
    }
}
  @media all and (max-width: 480px) {
    .installation-compotent{
      overflow-x: hidden !important;
    }
    .footer{
      max-width: 480px !important;
    }
    .footer123 p {
      font-size: 15px; 
      overflow-x: hidden !important; 
      padding-right: 50px; 
    }
    .components-topics {
      font-size: 15px; 
    }

    .component-title {
      font-size: 25px;
      width: 420px !important;
    }

    .paragraph1, .paragraph1 li {
      width: 400px !important;
    }
    .component-sub-title {
    font-size: 22px !important; 
    }
    .image-heading {
      font-size: 20px !important; 
    }
    .topics-heading {
      font-size: 18px !important; 
      margin-left: -30px; 
    }
    .sidebar-filler {
      grid-column: auto; 
    }
    .paragraph1 li b {
      font-size: 12px;
    }
    p {
      font-size: 15px;
    }
    .paragraph1 > .ipsum-logo {
      width: 350px !important;
    }

    .ipsum-logo {
      width: 350px !important; 
    }
    .component-title, .component-sub-title, .image-heading, .paragraph1, .command-heading, .command, .image-heading{

        margin-left: -30px;
        margin-right: 20px; 
    }
  }// end of max width 480
  @media all and (max-width: 410px) {
    .installation-component p {
      max-width: 340px; 
      //margin-right: 30px; 
    }

    li {
      max-width: 350px !important; 
    }

    .paragraph1 > .ipsum-logo {
      height: auto; 
    }

  }

  @media all and (max-width: 380px) {
    p {
      font-size: 15px;
      padding-right: 40px;
    }
    .image-heading{
      font-size: 17px; 
    }
    .command{
      font-size: 15px;
      width: 300px !important;
    }
    .footer{
      max-width: 380px !important;
    }
    .installation-component{
      grid-column: auto;  
      //margin-right: 30px;
      margin-left: 15px !important; 
    }
    .ipsum-logo{
      margin-right: -20px; 
      //width: 250px !important; 
      max-width: 200px !important; 
      height: auto !important;
    }
    .component-sub-title > ol {
      margin-left: -40px;
    }
    .component-sub-title {
      width: 280px !important;
    }
    .installation-component > p, .components-topics > p{
      margin-left: -20px;
      max-width: 270px; 
    }

    .paragraph1 {
      width: 280px !important;
    }
    .paragraph1 > li{
       
      margin-left: -25px;
      overflow-x: hidden !important;
      width: 250px !important;
    }
    .footer123 p{
      margin-right: -20px;
    }

    .component-title {
      font-size: 25px; 
      width: 280px !important;
    }
    .image-heading {
      font-size: 20px !important; 
    }

    .topics-heading {
      font-size: 18px !important; 
    }
  }

  @media all and (max-width: 340px){

    .component-container {
      width: 340px; 
    }

    .component-sub-a {
      width: 300px !important;
    }

    .paragraph {
      width: 300px !important;
    }

    p {
      font-size: 15px; 
    }
    .component-title {
      width: 260px !important;
    }

    .component-sub-title > b{
      width: 260px !important;
    }
    
    .component-sub-title{
      width: 260px !important;
      font-size: 25px;
    }
    .ipsum-logo{
      //max-width: 250px;
      //height: 300px;
      //max-width: 90%;
      width: 230px !important;
      //height: auto !important;
      //min-height: 300px;
      margin-left: -20px; 
     
    }

    .image-heading{
      font-size: 23px; 
    }

    .topics-heading{
      font-size: 20px; 
    }

    .paragraph1 {
      font-size: 17px;
      overflow-x: hidden !important;
      //padding-right: 40px;
      width: 270px !important;

    }
    .paragraph1 > li{
      width: 260px !important;
      font-size: 18px; 
      padding-top:10px;
      padding-bottom: 10px;
      overflow-x: hidden !important;
      margin-right: 20px !important; 
  
    }
    .command-heading{
      font-size: 18px;
    }

    .command{
      font-size: 15px;
      width: 260px !important;
    }

    .installation-component{
      margin-left: -5px;
    }

    .footer123 p{
      overflow-x: hidden !important;
      //margin-right: 20px; 

    }

    b {
      font-size: 16px; 
    }


  }

@media all and (max-width: 970px)
{
  .search-bar-header {
    max-width: 200px; 
  }

  .results-container {
    margin-left: -30px; 
  }
}
@media all and (max-width: 910px)
{
  .search-bar-header {
    max-width: 150px; 
  }

}
@media all and (max-width: 1000px) 
{
  .search-bar-header {
    max-width: 200px; 
  }

  .results-container {
    max-width: 180px;
  }
}
@media all and (max-width: 942px)
{
  .search-bar-header {
    max-width: 130px; 
  }
  
  #results-container {
    max-width: 110px;
    margin: 0 auto;
  }
}
@media all and (max-width: 466px)
{
  .topics {
    max-width: 90%;
  }
  .grid-community-container > p {
    margin-right: 15%;
  }
  .index-image{
    //margin-right: 35%;
    margin-left: -30px; 
  }
  .ticket-content {
    max-width: 90%;
  }
  .helpful-links {
    //max-width: 65%;
    max-width: 90%;
  }
  .item.helpful {
    display: grid;
    grid-column: auto;
  }
  .community > p, .community h1{
    //max-width: 60%;
  }
  .community > img {
    margin-left: -30px;
  }

  .container .header {
    width: 100%; 
  }

  .item .topic-box {
    overflow-x: hidden !important;
  }

  .topic-box-title {
    font-size: 18px;
  }
  .community {
    max-width: 90%;
  }

}

@media all and (max-width: 437px)
{

  .header .second .hamburger-menu-icon {
    margin-right: 20% !important;
  }
}

@media all and (max-width: 490px)
{
  .ipsum-logo {
    width: 350px !important;
  }
}