@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --page-padding:70px;
  --purple-bg-shade: #8473F3;
  --green-bg-shade: #1cbc54;
  --footer-bg-color: #362F55;
  --topics-bg-color: #f9f9f9;
  --container-bg-color: #ffffff;
  --heading-font-weight: bold;
}


html {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.5rem;
}


.container {
  background-color: var(--container-bg-color, #ffffff);
  display: grid;
  grid-template-columns: 100%;
}


.header {
  box-sizing: border-box;
  display: flex;
  border-color: #cbcfd6;
  border-bottom-style: inset;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-width: 1px;
  padding: var(--page-padding);
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0px 1px 5px #27272780;
  user-select: none;
}

.header .first {
  padding-top: 3px;
}

.header .second {
  padding-top: 17px;
}

.header .second h3 {
  display: inline-block;
  margin: 0;
  padding-right: 15px;
}

.headerBtn {
  padding: 8px 15px;
  box-shadow: none !important;
}

.headerBtn:nth-child(2) {
  background-color: var(--purple-bg-shade, #8473F3);
  margin-right: 5px;
}

.headerBtn:nth-child(3) {
  background-color:#1cbc54;
}


@media all and (max-width: 870px) {
  .second .inline-header {
    display: none;
  }

  .second .hamburger {
    display: block;
  }
}

@media all and (min-width: 871px) {
  .hamburger-menu {
    display: none !important;
  }
}


// hamburger menu start

.hamburger-menu {
  display: block;
  transition: left 200ms linear;
  position: fixed;
  top: 0px;
  left: -250px;
  width: 250px;
  height: 100vh;
  box-shadow: 2px 0 5px 0 #27272780;
  background-color: var(--container-bg-color, #ffffff);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  z-index: 9999;
  overflow: auto;
  min-height: min-content;
}

.hamburger-menu-title {
  padding: 20px 0 20px 30px !important;
  width: auto;
  margin: 0px 10px !important;
  margin-bottom: 20px !important;
  opacity: 0.5;
  border-bottom: 1px solid grey;
}

.hamburgerBtn {
  align-self: flex-start;
  margin-bottom: 20px;
  padding: 5px 7px 3px;
  border: 1px;
  margin-left: 40px;
  border-radius: 3px !important;
}

.hamburgerBtn:nth-of-type(1) {
  margin-top: 15px !important;
  background-color: var(--purple-bg-shade);
}

.hamburgerBtn:nth-of-type(2) {
  background-color: var(--green-bg-shade);
}

// hamburger menu end



// hamburger icon start

.show {
  left: 0px;
}

.hamburger {
  display: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.hamburger-change {
  transform: rotateZ(90deg);
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 4px;
  background-color: var(--purple-bg-shade, #8473F3);
  margin: 6px 0;
}

.hamburger-change .bar1 {
  transform: rotate(45deg) translate(6px, 6.5px);
}

.hamburger-change .bar2 { opacity: 0; }

.hamburger-change .bar3 {
  transform: rotate(-45deg) translate(8px, -8px);
}

// hamburger icon end


// grid community container

.community-cotainer-heading {
  font-size: 30px;
  font-size: 3.0rem;
  font-weight: var(--heading-font-weight, bold);
  color: #282828;
  line-height: 1.2;
}


.grid-community-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: var(--page-padding);
  align-items: center;
}

.community {
  color: #282828;
  flex: 0 40%;
}

.index-image {
  flex: 0 30%;
}

.index-image img {
  height: auto;
  width: 100%;
}

@media all and (max-width: 640px) {
  .grid-community-container {
    flex-flow: column wrap;
    justify-content: flex-start;
  }

  .community {
    width: 400px;
    flex-basis: auto;
  }

  .index-image {
    width: 400px;
  }
}

.grid-gap {
  min-width: 30px;
}

// topics

.topics {
    padding: var(--page-padding);
    background-color: var(--topics-bg-color, #f9f9f9);
}

.topics-heading {
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: var(--heading-font-weight, bold);
  font-family: sans-serif;
  margin: 0;
  padding-bottom: 40px;

}

.topics-grid-container {
    display: grid;
    grid-template-columns: 350px 350px 1fr 400px;
    grid-column-gap: 7px;
    grid-row-gap: 12px;
}

@media all and (max-width: 640px) {
  .topics-grid-container{
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

  .topics-grid-container div:nth-child(1) {
    order: 1;
  }
  .topics-grid-container div:nth-child(2) {
    order: 2;
  }
  .topics-grid-container div:nth-child(3) {
    margin-top: 22.5px !important;
    order: 6;
  }
  .topics-grid-container div:nth-child(4) {
    order: 3;
  }
  .topics-grid-container div:nth-child(5) {
    order: 4;
  }
  .topics-grid-container div:nth-child(6) {
    order: 7;
  }
  .topics-grid-container div:nth-child(7) {
    order: 5;
  }
  .topics-grid-container div:nth-child(9) {
    order: 8;
  }
  .topics-grid-container div:nth-child(8) {
    display: none;
  }

}

// helpful links

.helpful-links {
    
  padding: var(--page-padding);
  color: #282828;
}

.helpful-links-heading {
  padding-bottom: 40px;
  margin: 0;
  font-weight: var(--heading-font-weight, bold);
}


.helpful-links-grid-container {
    display: grid;
    grid-template-columns: 350px 350px 1fr 400px;
    grid-column-gap: 7px;
    grid-row-gap: 12px;
}

.item.helpful.ticket {
  color: white;
}

@media all and(min-width: 1220px) {
  .ticket {
    grid-column: 4 / 5;
    grid-row: 1 / span 2;
  }
}

@media all and(max-width: 640px) {
  .helpful-links-grid-container {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 0px;
    grid-template-rows: 1fr;
  }
  .ticket {
    order: 5;
  }
  .item.helpful {
    min-height: 150px !important;
  }
  .item.helpful.ticket {
    margin-top: 22px !important;
  }
}


// footer

.footer {
  background-color: #362F55;
  color: #f2f4f9;
  text-align: center;
  padding: var(--page-padding);
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  max-height: 68px;
}


.button {
  box-sizing: border-box;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px grey;    
}

.scheduleDemoBtn {
  background-color: var(--purple-bg-shade, #8473F3);
}

.scheduleDemoBtn:hover {
  box-shadow: 1px 2px 4px 1px grey; 
}

.box-title {
  color: var(--purple-bg-shade, #8473F3);
  text-decoration: none;
  font-weight: var(--heading-font-weight, bold);
  margin-bottom: 0px;
}

.item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: white;
  min-height: 170px;
}


.item > h4, p {
  margin: 10px 0;
}

.item.topic-box > h4 {
  margin-bottom: 0;
}





// saurav's work

.topic-box {
  border: 1px solid;
  border-color: #E6E6E9;
  padding: 0px 15px;
  box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.1), -1px 0px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: white;
}

.item.box-3 {
  background-color: transparent;
}

// @media all and (min-width: 940px) {
//   .item.box-3 {
//     padding-left: 30px;
//   }
// }

.item.box-3 > h4 {
    margin-top: 0;
}

@media all and(min-width: 1200px) {
  .item.box-3 {
    grid-column: 4 / 5;
  }
}


.item.box-3 .scheduleDemoBtn {
  min-width: 150px;
  max-width: 150px;
  padding: 10px;
}


.ticket-content {
  background-color: var(--purple-bg-shade, #8473F3);
  padding: 40px;
  border: thin solid #E6E6E9;
  border-radius: 2px;
  border-top: transparent;
  border-left: transparent;
}
.ticket-content > p {
  margin: 0;
  padding: 0 0 15px;
  font-size: 1.5rem;
}


.ticket-content > h3 {
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: var(--heading-font-weight, bold);
  margin: 0;
  padding-bottom: 15px;
}

.ticketBtn {
  background: #1cbc54;
  max-width: 126px;
  min-width: 126px;
  padding: 9px 5px;
  margin-top: 5px;
}



.logo {
  padding: 11px 0 0 63px;
}

.foot1 {
  font-size: 15px;
}

.foot2 {
  font-size: 18px;
}

.group-list a,
.group-list label {
  border-left: 5px solid black;
  padding: 10px 10px;
  background: var(--purple-bg-shade, #8473F3);

}

.home-a {
  text-decoration: none;
  color: var(--purple-bg-shade, #8473F3);
}

.sub-group-list a,
.sub-group-list label {

  background: #64D654;
  border-left: 5px solid black;
  padding: 10px 10px;
}

ul {
  list-style-type: none;
}

.group-list a:focus,
.group-list a:hover,
.group-list label:focus,
.group-list label:hover {
  background: #131313;
}

.sub-sub-group-list a,
.sub-sub-group-list label {
  background: #D69954;
}

.group-list,
.sub-group-list,
.sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 2s ease-in-out;
  transition: max-height 2s ease-in-out;
  margin-top: 25px;
}

.nav__list input[type=checkbox]:checked+label+ul {
  /* reset the height when checkbox is checked */
  max-height: 1000px;
  font-size: 18px;

}

.root-menu {
  background: #DFDBF9;
  font-size: 18px;
  color: #343434;
  position: relative;
  font-weight: var(--heading-font-weight, bold);
  padding: 10px 10px;
  margin-top: 10px;
  border-left: 5px solid black;
}

.nav_li {
  margin-bottom: 30px;
}


.li-vertical {
  margin-top: 30px;
}

.icon-padding {
  padding-left: 60px;
}

.side-bar-container {
  display: inline-block;
  width: 30%;
  height: 25vh;
  min-height: 600px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

/* ------------------- */
.search-result {
  background-color: #E1EAFF;
  clear: both;
  width: 250px;
  font-weight: 600;
  /* padding: 12px 7px 0px 17px; */
  margin: 0px 0px 0px 790px;
  font-size: 15px;
  color: #131313;

}

.open {
    display: block !important;
}

.component-index-container{
  background-color: #FCF9FF;
  width: 1200px;
  margin: 0 0 0 60px;
}

.installation-component {
  margin: 0 0 0 60px;
}

.component-title {
  color: var(--purple-bg-shade, #8473F3);
  font-size: xx-large;
  font-weight: bold; 
}

.component-sub-title {
  color: var(--purple-bg-shade, #8473F3);
  font-size: x-large;
  font-weight: bold;
}

.component-a{
  color: #282828;
  text-decoration: none;
  border-color: #cbcfd6;

}

.component-a:hover {
  background-color: #C4C3F7;
  box-shadow: 2px 2px 2px 2px #C4C3F7;
}

.components-topics {
  color: #272828;
  font-size: x-large;
  font-weight: bold;
  line-height: 40px; 
  
}

.component-sub-a {
  color: var(--purple-bg-shade, #8473F3);
  text-decoration: none;
  border-color: #cbcfd6;
  font-size: large;
}

.component-sub-a:hover {
  color: #282828;
  background-color: #C4C3F7;
  box-shadow: 2px 2px 2px 2px #C4C3F7;
}

.sub-a {
  color: #272828;
  border-color: #cbcfd6;
  font-size: large;
}

.paragraph {
  font-size: 18px;
}

.paragraph1 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
}

.command-heading {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
}

.command {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  border-left: 6px solid var(--purple-bg-shade, #8473F3);
  background-color: lightgrey;
  padding: 5px;
}

.image-heading {
  font-weight: 600;
  font-size: 18px;
  font-style: noraml;
}

.big-screen-shot {
  width: 850px;
}

