@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');


html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.5rem;
}

// @media (min-width: 640px) { body {font-size:1rem;} } 
// @media (min-width:960px) { body {font-size:1.2rem;} } 
// @media (min-width:1100px) { body {font-size:1.5rem;} }


.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 100%;
}


.header {
  display: flex;
  height: 70px;
  border-color: #cbcfd6;
  border-bottom-style: inset;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-width: 1px;
}

.header .first {
  padding: 3px 10px 0px 30px;
}


.header .second {
  padding: 10px 30px 10px 2px;
  font-family: 'Source Sans Pro',sans-serif;
}

@media all and (max-width: 640px) {
  .second {
    display: none;
  }
}


// grid community container

.top_heading {
  font-size: 30px;
  font-size: 3.0rem;
  font-weight: 500;
  color: #282828;
}


.grid-community-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 30px 50px;
  align-items: center;
}

.community {
  color: #282828;
  flex: 0 40%;
}

.index-image {
  flex: 0 30%;
}

.index-image img {
  height: auto;
  width: 100%;
}

@media all and (max-width: 640px) {
  .grid-community-container {
    flex-flow: column wrap;
    justify-content: flex-start;
    padding: 30 50px;
  }

  .community {
    width: 400px;
  }

  .index-image {
    width: 400px;
  }
}

// topics

.topics {
    padding: 30px 50px;
    background-color: #f9f9f9;
}

.topic-heading-title {
  font-size: 24px;
  font-size: 2.4rem;
  font-family: sans-serif;
  font-weight: bold;
  padding-bottom: 20px;

}

.topics-grid-container {
    display: grid;
    grid-template-columns: 350px 350px 400px;
    grid-column-gap: 7px;
    grid-row-gap: 12px;
}

@media all and (max-width: 640px) {
  .topics-grid-container{
    grid-template-columns: auto;
    padding: 0 0 30px;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  .topic-heading-title {
    text-align: center;
  }

  .topics-grid-container div:nth-child(1) {
    order: 1;
  }
  .topics-grid-container div:nth-child(2) {
    order: 2;
  }
  .topics-grid-container div:nth-child(3) {
    order: 6;
  }
  .topics-grid-container div:nth-child(4) {
    order: 3;
  }
  .topics-grid-container div:nth-child(5) {
    order: 4;
  }
  .topics-grid-container div:nth-child(6) {
    order: 7;
  }
  .topics-grid-container div:nth-child(7) {
    order: 5;
  }
  .topics-grid-container div:nth-child(9) {
    order: 8;
  }
  .topics-grid-container div:nth-child(8) {
    display: none;
  }


}


// helpful links

.helpful-links {
    padding: 30px 50px;
    color: #282828;
}

.helpful-links-heading {
  padding-bottom: 10px;

}

.helpful-links-grid-container {
    display: grid;
    grid-template-columns: 350px 350px 400px;
    grid-column-gap: 7px;
    grid-row-gap: 12px;
}
.helpful-links-grid-container {
    display: grid;
    grid-template-columns: 350px 350px 400px;
    grid-column-gap: 7px;
    grid-row-gap: 12px;
}

.item.helpful.ticket {
  color: white;
}

@media all and(min-width: 1160px) {
  .item.helpful.ticket {
    padding-left: 30px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  
  }
}

@media all and(max-width: 640px) {
  .helpful-links-grid-container {
    grid-template-columns: auto;
    grid-row-gap: 20px;
    grid-column-gap: 0px;
  }
}


// footer

.footer {
  width: 100%;
  background-color: #8473F3;
  color: #f2f4f9;
  text-align: center;
}




.box3button {
  background-color: #8473F3;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px grey;    
}

.box3button:hover {
  box-shadow: 1px 2px 4px 1px grey; 
}

.box-title {
  color: #8473F3;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0px;
}

.item {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: white; 
  height: 170px;
}

.item > h4, p {
  margin: 10px 0;
}

.item.topic-box > h4 {
  margin-bottom: 0;
}





// saurav's work

.topic-box {
  border: 1px solid;
  border-color: #E6E6E9;
  padding: 0px 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color: white;
}

.item.box-3 {
  
  background-color: transparent;
  padding-left: 30px
}

.item.box-3 .box3button {
  width: 170px;
  padding: 10px;
}



.ticket-content {
  background-color: #8473F3;
  padding: 10px;
  border: thin solid #E6E6E9;
  border-radius: 2px;
  
  border-top: transparent;
  border-left: transparent;
}





.logo {
  padding: 11px 0 0 63px;
}

.foot1 {
  font-size: 15px;
}

.foot2 {
  font-size: 18px;
}

.group-list a,
.group-list label {
  border-left: 5px solid black;
  padding: 10px 10px;
  background: #8473F3;

}

.home-a {
  text-decoration: none;
  color: #8473F3;
}

.sub-group-list a,
.sub-group-list label {

  background: #64D654;
  border-left: 5px solid black;
  padding: 10px 10px;
}

ul {
  list-style-type: none;
}

.group-list a:focus,
.group-list a:hover,
.group-list label:focus,
.group-list label:hover {
  background: #131313;
}

.sub-sub-group-list a,
.sub-sub-group-list label {
  background: #D69954;
}

.group-list,
.sub-group-list,
.sub-sub-group-list {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 2s ease-in-out;
  transition: max-height 2s ease-in-out;
  margin-top: 25px;
}

.nav__list input[type=checkbox]:checked+label+ul {
  /* reset the height when checkbox is checked */
  max-height: 1000px;
  font-size: 18px;

}

.root-menu {
  background: #DFDBF9;
  font-size: 18px;
  color: #343434;
  position: relative;
  font-weight: bold;
  padding: 10px 10px;
  margin-top: 10px;
  border-left: 5px solid black;
}

.nav_li {
  margin-bottom: 30px;
}

/* .click1 {
  background: yellow;
  border-left: 5px solid black;
  padding: 10px 10px;
} */

.li-vertical {
  margin-top: 30px;
}

.icon-padding {
  padding-left: 60px;
}

.side-bar-container {
  display: inline-block;
  width: 30%;
  height: 25vh;
  min-height: 600px;
  overflow: auto;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

/* ------------------- */
.search-result {
  background-color: #E1EAFF;
  clear: both;
  width: 250px;
  font-weight: 600;
  /* padding: 12px 7px 0px 17px; */
  margin: 0px 0px 0px 790px;
  font-size: 15px;
  color: #131313;

}

.open {
    display: block !important;
}

.component-index-container{
  background-color: #FCF9FF;
  width: 1200px;
  margin: 0 0 0 60px;
}

.installation-component {
  margin: 0 0 0 60px;
}

.component-title {
  color: #8473F3;
  font-size: xx-large;
  font-weight: bold; 
}

.component-sub-title {
  color: #8473F3;
  font-size: x-large;
  font-weight: bold;
}

.component-a{
  color: #282828;
  text-decoration: none;
  border-color: #cbcfd6;

}

.component-a:hover {
  background-color: #C4C3F7;
  box-shadow: 2px 2px 2px 2px #C4C3F7;
}

.components-topics {
  color: #272828;
  font-size: x-large;
  font-weight: bold;
  line-height: 40px; 
  
}

.component-sub-a {
  color: #8473F3;
  text-decoration: none;
  border-color: #cbcfd6;
  font-size: large;
}

.component-sub-a:hover {
  color: #282828;
  background-color: #C4C3F7;
  box-shadow: 2px 2px 2px 2px #C4C3F7;
}

.sub-a {
  color: #272828;
  border-color: #cbcfd6;
  font-size: large;
}

.paragraph {
  font-size: 18px;
}

.paragraph1 {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
}

.command-heading {
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
}

.command {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  border-left: 6px solid #8473F3;
  background-color: lightgrey;
  padding: 5px;
}

.image-heading {
  font-weight: 600;
  font-size: 18px;
  font-style: noraml;
}

.big-screen-shot {
  width: 850px;
}

