:root {
<<<<<<< HEAD
  
  // typography
  --heading-font-weight: 500;
  --sub-heading-font-size: 24px;
  --sub-heading-bottom-spacing: 10px;
  --main-heading-size: 35px;
=======
  // typography
  --heading-font-weight: bold;
  --sub-heading-font-size: 24px;
  --sub-heading-bottom-spacing: 40px;
  --main-heading-size: 30px;
>>>>>>> c424388997935387cea903a76f03172562d9cf95
  --main-heading-bottom-spacing: 20px;
  --root-font-size: 10px;
  --universal-font-size: 1.5rem;
  --paragraph-tb-margin: 10px;
  --ticket-content-heading-font-size: 22px;
<<<<<<< HEAD
  --root-font-family: 'Source Sans Pro', 'Arial', sans-serif;
  --paragraph-opacity: 0.7;
  --item-heading-font-weight: bold;
  --paragraph-font-size: 14px;


  // layout sizing and spacing
  --header-footer-height: 68px;
  --footer-tb-padding: 10px;
  --homepage-container-padding:50px;
  --component-container-content-padding: 20px;
=======

  // layout sizing and spacing
  --page-padding:50px;
>>>>>>> c424388997935387cea903a76f03172562d9cf95
  --grid-row-gap: 12px;
  --grid-column-gap: 7px;
  --item-min-width: 150px;
  --item-min-height: 100px;
<<<<<<< HEAD
  --item-padding: 10px;
  --helpful-item-left-padding: 0px;
  --topic-box-padding: 20px;
  --box-3-tb-margin: 10px;
  --ticket-top-margin: 22px;
  --ticket-button-width: 126px;
  --ticket-content-bottom-padding: 15px;
  

  // hamburger menu
  --hamburger-menu-width: 250px;
  --hamburger-menu-item-left-margin: 40px;
  --hamburger-menu-item-bottom-margin: 10px;
  --hamburger-menu-item-font-family: 'Source Sans Pro', 'Arial', sans-serif;
  --hamburger-menu-item-font-size: 13.3333px;
  --hamburger-menu-item-font-weight: 400;
  --hamburger-menu-seperator-margin: 20px;
  --hamburger-menu-dropdown-container-item-left-margin: 15px;
  

  // colors
  --header-box-shadow-color: #27272780;
  --header-border-color: #efeded;
  --footer-background-color: #362F55;
  --footer-bg-color: #362F55;
  --footer-text-color: #f2f4f9;
  --button-box-shadow-color: #27272780;
  --topics-bg-color: #f9f9f9;
  --topics-box-shadow-color: rgba(0, 0, 0, 0.1);
  --topic-box-border-color: #E6E6E9;
  --topic-box-bg-color: #ffffff;
  --hamburger-box-shadow-color: #27272780;
  --hamburger-border-color:  #efeded;
  --hamburger-menu-heading-bottom-border-color: grey;
  --community-container-text-color: #282828;
  --paragraph-heading-color: 	#202020;
  --purple-bg-shade: #8473F3;
  --green-bg-shade: #1cbc54;
  --container-bg-color: #ffffff;
=======
  --header-footer-height: 68px;
  --item-padding: 10px;
  --topic-box-padding: 20px;
  --box-3-tb-margin: 10px;
  --ticket-top-margin: 22px;
  --footer-tb-padding: 10px;
  --helpful-item-left-padding: 0px;
  --ticket-button-width: 126px;
  --ticket-content-bottom-padding: 15px;
  
  // hamburger menu
  --hamburger-menu-width: 300px;
  --hamburger-menu-item-left-margin: 25px;
  --hamburger-menu-item-bottom-margin: 10px;
  --hamburger-menu-item-font-family: 'Arial';
  --hamburger-menu-item-font-size: 13.3333px;
  --hamburger-menu-item-font-weight: 400;
  --hamburger-menu-seperator-margin: 5px;
  

  // colors
  --purple-bg-shade: #8473F3;
  --green-bg-shade: #1cbc54;
  --footer-bg-color: #362F55;
  --topics-bg-color: #f9f9f9;
  --container-bg-color: #ffffff;
  --header-border-color: #cbcfd6;
  --box-shadow-color: #27272780;
  --topics-box-shadow-color: rgba(0, 0, 0, 0.1);
  --community-container-text-color: #282828;
  --footer-text-color: #f2f4f9;
  --footer-background-color: #362F55;
  --paragraph-heading-color: 	#202020;
  
>>>>>>> c424388997935387cea903a76f03172562d9cf95
}

@media all and (min-width: 1261px) {
  :root {
<<<<<<< HEAD
    --homepage-container-padding:30px;
=======
    --page-padding:30px;
>>>>>>> c424388997935387cea903a76f03172562d9cf95
  }
}

@media all and (max-width: 576px) {
  :root {
<<<<<<< HEAD
    --homepage-container-padding:30px;
=======
    --page-padding:30px;
>>>>>>> c424388997935387cea903a76f03172562d9cf95
    --grid-column-gap: 0px;
    --grid-row-gap: 10px;
  }
}


