<!DOCTYPE html>
<html>

<head>
    <title>UVdesk Documentation</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/uvdocs.css">

</head>

<body>
    <div class="container">
        
                {%- include navigation1.html -%}

                {{ content }}
        <div class="footer">
            <div class="grid-footer-container">
                <div class="item footer123">
                    <center>
                        <p> &copy; Copyright 2018 Webkul Software. All rights reserved under MIT License.</p>
                    </center>
                </div>
            </div>
        </div>
    </div>

</body>
</html>