<!DOCTYPE html>
<html>
<head>
    {%- include header-scripts.html -%}
    <title>UVdesk Documentation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" href="/assets/css/uvdocs.css">
    <link rel="icon" sizes="16x16" type="text/css" href="/assets/images/favicon.ico">
</head>
<body>
    <div class="container">
        {%- include navigation1.html -%}
        {%- include sidebar.html -%}
        {{ content }}
        <div class="footer">
            <span> &copy; Copyright {{ 'now'|date('Y') }} Webkul Software. All rights reserved under MIT License.</span>
        </div>
        {%- include footer-scripts.html -%}
    </div>
</body>
</html>